@page
@model SecurityIncidentTrackerWebApp.Pages.Departments.IndexModel

@{
    ViewData["Title"] = "Departments";
}

<h1>Departments</h1>

<p>
    <a asp-page="Create" class="btn btn-danger shadow">Create New</a>
</p>
<table class="table text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Department[0].DepartmentName)
            </th>
            <th>
                Assigned Technicians
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Department) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @if (item.TechnicianDepartments != null)
                {
                    @string.Join(", ", item.TechnicianDepartments.Select(b => b.Technician.FullName))
                }
            </td>
            <td class="text-end">
                <div class="btn-group btn-group-sm">
                    <a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-outline-secondary text-white">Edit</a>
                    <a asp-page="./Details" asp-route-id="@item.ID" class="btn btn-outline-secondary text-info">Details</a>
                    <a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn-outline-secondary text-danger">Delete</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
