@page
@model SecurityIncidentTrackerWebApp.Pages.IncidentTypes.IndexModel

@{
    ViewData["Title"] = "Incident Types";
}

<h1>Incident Types</h1>

<p>
    <a asp-page="Create" class="btn btn-danger shadow">Create New</a>
</p>
<table class="table text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IncidentType[0].TypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncidentType[0].EstimatedDuration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.IncidentType) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedDuration)
            </td>
            <td class="text-end">
                <div class="btn-group btn-group-sm">
                    <a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-outline-secondary text-white">Edit</a>
                    <a asp-page="./Details" asp-route-id="@item.ID" class="btn btn-outline-secondary text-info">Details</a>
                    <a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn-outline-secondary text-danger">Delete</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
